{{#if activateToggles}}
<div class="app sdrd-controls gm-roll">
    <fieldset class="sdrd-form">
        <legend>Make private roll to GM:</legend>
        <div class="sdrd-dice-col gm-roll" data-gm-roll="makeGMRoll">
            <input type="checkbox" id="makeGMRoll" name="makeGMRoll"/>
            <i class="fa-duotone fa-user-secret"></i>
        </div>
    </fieldset>
    <fieldset class="sdrd-form">
        <legend>Select Exploding Dice variant:</legend>
        <div class="sdrd-dice-col toggle-exploding-dice" data-exploding-type="explodingDice">
            <input type="radio" id="explodingDice" name="explodingDice"/>
            <i class="fa-duotone fa-bomb"></i>
        </div>
        <div class="sdrd-dice-col toggle-exploding-dice" data-exploding-type="explodingDiceOnce">
            <input type="radio" id="explodingDiceOnce" name="explodingDice" />
            <i class="fa-duotone fa-land-mine-on"></i>
        </div>
    </fieldset>
</div>
{{/if}}
<div class="app sdrd-form">
    {{#each diceTypes}}
    <div class="sdrd-dice-rows">
        <div class="sdrd-dice-col sdrd-dice-1stcol rollable" data-dice-type="{{diceType}}" data-dice-roll="1">
            {{#if (isCoin diceType)}}
            <i class="fa-duotone fa-coin"></i>&nbsp coin
            {{else if (isD100 diceType)}}
            <i class="fa-duotone fa-dice-d10"></i> <i class="fa-duotone fa-dice-d10"></i>&nbsp d100
            {{else if (isFate diceType)}}
            <i class="fa-duotone fa-plus-square"></i>&nbsp fudge
            {{else}}
            <i class="fa-duotone fa-dice-{{diceType}}"></i>&nbsp {{diceType}}
            {{/if}}
        </div>
        {{#each diceRolls}}
        <div class="sdrd-dice-col rollable" data-dice-type="{{../diceType}}" data-dice-roll="{{this}}">{{this}}</div>
        {{/each}}
    </div>
    {{/each}}
</div>