{{#if activateToggles}}
<div class="app sdrd-toggle-box">
    <fieldset class="sdrd-field-set">
        <legend>{{localize 'legend.hiddenRolls'}}</legend>
        <div class="sdrd-toggle toggle-hidden-roll" data-hidden-type="makeGMRoll" title="{{localize 'tooltip.makeGMRoll'}}">
            <input type="radio" id="makeGMRoll" name="makeHiddenRoll"/>
            <i class="fa-duotone fa-user-secret"></i>
        </div>
        <div class="sdrd-toggle toggle-hidden-roll" data-hidden-type="makeBlindRoll" title="{{localize 'tooltip.makeBlindRoll'}}">
            <input type="radio" id="makeBlindRoll" name="makeHiddenRoll"/>
            <i class="fa-duotone fa-question"></i>
        </div>
        <div class="sdrd-toggle toggle-hidden-roll" data-hidden-type="makeSelfRoll" title="{{localize 'tooltip.makeSelfRoll'}}">
            <input type="radio" id="makeSelfRoll" name="makeHiddenRoll"/>
            <i class="fa-duotone fa-user"></i>
        </div>
    </fieldset>
    <fieldset class="sdrd-field-set">
        <legend>{{localize 'legend.explodingDice'}}</legend>
        <div class="sdrd-toggle toggle-exploding-dice" data-exploding-type="explodingDice" title="{{localize 'tooltip.explodingDice'}}">
            <input type="radio" id="explodingDice" name="explodingDice"/>
            <i class="fa-duotone fa-bomb"></i>
        </div>
        <div class="sdrd-toggle toggle-exploding-dice" data-exploding-type="explodingDiceOnce" title="{{localize 'tooltip.explodingDiceOnce'}}">
            <input type="radio" id="explodingDiceOnce" name="explodingDice" />
            <i class="fa-duotone fa-land-mine-on"></i>
        </div>
    </fieldset>
</div>
{{/if}}
<div class="app sdrd-form">
    {{#each diceTypes}}
    <div class="sdrd-rows">
        <div class="sdrd-col sdrd-1stcol rollable" data-dice-type="{{diceType}}" data-dice-roll="1">
            {{#if (isCoin diceType)}}
            <i class="fa-duotone fa-coin"></i>&nbsp coin
            {{else if (isD100 diceType)}}
            <i class="fa-duotone fa-dice-d10"></i> <i class="fa-duotone fa-dice-d10"></i>&nbsp d100
            {{else if (isFate diceType)}}
            <i class="fa-duotone fa-plus-square"></i>&nbsp fudge
            {{else}}
            <i class="fa-duotone fa-dice-{{diceType}}"></i>&nbsp {{diceType}}
            {{/if}}
        </div>
        {{#each diceRolls}}
        <div class="sdrd-col rollable" data-dice-type="{{../diceType}}" data-dice-roll="{{this}}">{{this}}</div>
        {{/each}}
    </div>
    {{/each}}
</div>