<div class="app sdrd-form">
    {{#each diceTypes}}
    <ul class="sdrd-dice-rows">
        <li class="sdrd-dice-col sdrd-dice-1stcol rollable" data-dice-type="{{diceType}}" data-dice-roll="1">
            {{#if (isCoin diceType)}}
            <i class="fa-duotone fa-coin"></i>&nbsp coin
            {{else if (isD100 diceType)}}
            <i class="fa-duotone fa-dice-d10"></i> <i class="fa-duotone fa-dice-d10"></i>&nbsp d100
            {{else if (isFate diceType)}}
            <i class="fa-duotone fa-plus-square"></i>&nbsp fudge
            {{else}}
            <i class="fa-duotone fa-dice-{{diceType}}"></i>&nbsp {{diceType}}
            {{/if}}
        </li>
        {{#each diceRolls}}
        <li class="sdrd-dice-col rollable" data-dice-type="{{../diceType}}" data-dice-roll="{{this}}">{{this}}</li>
        {{/each}}
    </ul>
    {{/each}}
</div>